# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# pnpm link folder
pnpm-global

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache

# rollup.js default build output
dist/

# vitepress build output
.vitepress/dist
.vitepress/cache

.vscode

# lock file
yarn.lock
package-lock.json
